In [2]:
import numpy as np
import pandas as pd
from sklearn import tree

In [4]:
gotoDataset = pd.read_csv('data_decision_tree.csv', delimiter = ';', header = 0)
print(gotoDataset)

           Date       Open       High        Low      Close  Buy
0    04/11/2022  400000000  416000000  372000000  382000000   No
1    04/12/2022  422000000  442000000  360000000  370000000   No
2     4/13/2022  370000000  380000000  360000000  374000000  Yes
3     4/14/2022  374000000  382000000  374000000  376000000  Yes
4     4/18/2022  376000000  380000000  370000000  378000000  Yes
..          ...        ...        ...        ...        ...  ...
230   3/15/2023  124000000  125000000  119000000  121000000   No
231   3/16/2023  121000000  121000000  116000000  117000000   No
232   3/17/2023  119000000  121000000  113000000  116000000   No
233   3/20/2023  115000000  116000000  108000000  108000000   No
234   3/21/2023  105000000  111000000  103000000  110000000  Yes

[235 rows x 6 columns]

In [5]:
gotoDataset.head()

         Date       Open       High        Low      Close  Buy
0  04/11/2022  400000000  416000000  372000000  382000000   No
1  04/12/2022  422000000  442000000  360000000  370000000   No
2   4/13/2022  370000000  380000000  360000000  374000000  Yes
3   4/14/2022  374000000  382000000  374000000  376000000  Yes
4   4/18/2022  376000000  380000000  370000000  378000000  Yes

In [6]:
gotoDataset["Buy"] = pd.factorize(gotoDataset.Buy)[0]
gotoDataset.head()

         Date       Open       High        Low      Close  Buy
0  04/11/2022  400000000  416000000  372000000  382000000    0
1  04/12/2022  422000000  442000000  360000000  370000000    0
2   4/13/2022  370000000  380000000  360000000  374000000    1
3   4/14/2022  374000000  382000000  374000000  376000000    1
4   4/18/2022  376000000  380000000  370000000  378000000    1

In [7]:
gotoDataset = gotoDataset.drop(labels="Date", axis=1)

In [8]:
gotoDataset = gotoDataset.to_numpy()

In [9]:
dataTraining = np.concatenate((gotoDataset[0:40, :], gotoDataset[50:90, :]), axis=0)
dataTesting = np.concatenate((gotoDataset[40:50, :], gotoDataset[90:100, :]), axis=0)

In [10]:
inputTraining = dataTraining[:,0:4]
inputTesting = dataTesting[:, 0:4]
labelTraining = dataTraining[:, 4]
labelTesting = dataTesting[:, 4]

In [11]:
model = tree.DecisionTreeClassifier()

In [12]:
model = model.fit(inputTraining, labelTraining)

In [13]:
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

Label Sebenarnya :  [1 1 0 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0]
Hasil Prediksi :  [0 1 1 1 1 0 0 1 1 0 1 0 0 0 1 1 1 1 0 0]

In [14]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar : ", prediksiBenar, "data")
print("Prediksi Salah : ", prediksiSalah, "data")
print("akurasi : ", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")

Prediksi Benar :  12 data
Prediksi Salah :  8 data
akurasi :  60.0 %